/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* ensure border box work properly*/
    
}
/* Global styles */
body{
    font-family: sans-serif,serif,'Segoe UI', Tahoma;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
}
/* Header styles */
header{
    background-color:#333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Navigation start  */
/* logo */
.favlogo{
    width: 50px;
    height: auto;
}
/* navigation bar style */
.list-items{
    list-style: none;
    display: flex;
gap: 20px;
}
/* list items style */
.list-items a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
/* list item hovering style */
.list-items a:hover{
    color: #ffcc00;

}
/* navigation finished */
/* Hero section style */
.hero{
    background-color: #007bff;
    color: white;
    padding: 50px 20px;
    text-align: center;
  
}
/* call to action button */
.cta-button{
    background-color: #ffcc00;
    color: #333;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.3 ease ;
    
} 
.cta-button:hover{
    background-color: #e6b800 
}
/* about section */
.aboutme{
    background-color: rgb(244, 227, 225) ;
    display: flex;
    justify-content: space-between;
    
}
.about{
    text-align: center;
    margin: 30px 0;
    padding-left: 30px;
    text-align: justify;

}
.about h2{
    text-align: center;
}
.profile img{
    padding-left: 10px;
}
/* about section closed */
/* Project section start */
.Projectshow h2{
   margin: 10px 5px;
   padding: 10px;
   text-align: center; 
}
/* project1,2,3 */
.project1,.project2,.project3{
    background-color: #e4e4e4c6;
    padding: 20px;
    line-height: 40px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

}
/* project finished */
/* contatct */
.contact{
    background-color:#007bff ;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
  
}
.contact a{
    text-decoration: none;
    color: whitesmoke;
}

/* contact finished */
/* Footer */
footer p{
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}